.env
.terraform/
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.*
.terraform.lock.hcl
terraform.tfstate.d/
*.tfvars
*.tfvars.json
!*.tfvars.example
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
